@charset "utf-8";

/*统一设置*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
}

a {
	color: #000;
	text-decoration: none;
}

ul,li {
	list-style: none;
}

/*网页头部*/
#header {
	width: 960px;
	height: 70px;	
	margin: 0 auto;	
}

/*主导航栏*/
#nav {
	min-width: 960px;
	height: 50px;
	background: #47a3da;
	line-height: 50px;
}

#nav ul {
	height: 50px;
	width: 960px;	
	margin: 0 auto;	
}

#nav ul li {
	float: left;
	width: 160px;
	text-align: center;
}

#nav ul li a {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 3px;
	display: block;
}

#nav ul li a:hover {
	background: #e6f2fa;
	color: #47a3da;
}

/*高亮导航*/
.active {
	background: #0068b7;
}

/*主内容区*/
#main {
	width: 960px;	
	margin: 0 auto;	
	padding-top: 10px;
	overflow: hidden;
}

/*左侧边栏*/
#aside {
	width: 220px;
	min-height: 400px;
	float: left;
	color: #666666;
}

/*列表*/
#list h3 {
	color: #fff;
	background: #47a3da;
	font-size: 16px;
	text-align: center;
	line-height: 35px;	
}

#list ul li {
	border-bottom: 1px dashed #000;
} 

#list ul li a {
	color: #666;
	line-height: 40px;	
	text-align: center;
	display: block;
	font-size: 14px;	
}

#list ul li a:hover {
	background: #47a3da;	
	color: #fff;
}

/*全国服务支持*/
#address {
	background: #eee;
	margin-top: 30px;
	padding: 10px;	
	text-align: center;
}

#address h3 {
	font-size: 16px;
	line-height: 30px;
	border-bottom: 1px solid green;
}

#address ul li {
	font-size: 14px;
	line-height: 30px;
}

.icon-tel {
	position: relative;
	top:2px;
	left:-2px;
}

.icon-msg {
	position: relative;
	top:3px;
	left:-3px;
}

/*内容区*/
#contents {
	width: 720px;
	min-height: 400px;	
	float: right;
	font-size: 14px;
}

#contents h4 {
	font-weight: 300;
	line-height: 40px;
	border-bottom: 3px solid #47a3da;
}

#contents #sub-banner {
	padding: 5px 0;
}

/*文章区*/
#wenzhang {
	border-top: 3px solid #47a3da;
}

#wenzhang h1 {
	text-align: center;
	line-height: 60px;
}

/*图片区*/
#img-box {
	width: 580px;
	margin: 0 auto;
	overflow: hidden;
}

#img-box dl {
	width: 250px;
	margin: 20px;
	float: left;
}

#img-box dl dd {
	width: 230px;
	background: #ccc;
	color: #444;
	text-align: center;
	line-height: 30px;
	border-bottom: 3px solid orange;
	margin: 0 auto;
}

/*网页底部*/
#footer {
	height: 150px;
	background: #4b4b4b;
	color: #ffffff;
	padding: 10px;
	font-size: 14px;
}

#footer .wrap {
	width: 960px;
	margin: 0 auto;
}

#footer .wrap dl {
	width: 320px;
	float: left;
}

#footer .wrap dl dt {
	font-weight: bold;
	line-height: 20px;
}

#footer .wrap dl dd {
	line-height: 20px;
}